make_com_blueprints/Document-to-Notion/document_scan_to_notion.json
{
    "name": "Car Invoice Automation",
    "flow": [
        {
            "id": 1,
            "module": "dropbox:watchFiles2",
            "version": 5,
            "parameters": {
                "path": "/Car Documents/RepairInvoices",
                "limit": 10,
                "recursive": false,
                "__IMTCONN__": 686514
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 300,
                    "name": "watchNewInvoices"
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "dropbox"
                            },
                            "label": "My Dropbox connection (DROPBOX)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:dropbox",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "path",
                        "type": "folder",
                        "label": "Folder"
                    },
                    {
                        "name": "recursive",
                        "type": "boolean",
                        "label": "Watch also subfolders",
                        "required": true
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "dropbox:createShareLink",
            "version": 5,
            "parameters": {
                "__IMTCONN__": 686514
            },
            "mapper": {
                "path": "{{1.path_lower}}",
                "select": "map",
                "settings": {
                    "access": "viewer",
                    "allow_download": true
                }
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 300
                },
                "restore": {
                    "expect": {
                        "select": {
                            "label": "Map a file/folder path"
                        },
                        "settings": {
                            "nested": {
                                "access": {
                                    "mode": "chose",
                                    "label": "Viewer"
                                },
                                "allow_download": {
                                    "mode": "chose"
                                },
                                "require_password": {
                                    "mode": "chose"
                                },
                                "requested_visibility": {
                                    "mode": "chose",
                                    "label": "Empty"
                                }
                            }
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "dropbox"
                            },
                            "label": "My Dropbox connection (DROPBOX)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:dropbox",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Way of selecting files",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "file"
                            ]
                        }
                    },
                    {
                        "name": "settings",
                        "spec": [
                            {
                                "name": "access",
                                "type": "select",
                                "label": "Link's Access Level",
                                "validate": {
                                    "enum": [
                                        "viewer",
                                        "editor",
                                        "max"
                                    ]
                                }
                            },
                            {
                                "name": "expires",
                                "time": true,
                                "type": "date",
                                "label": "Link's Expiration Date"
                            },
                            {
                                "name": "require_password",
                                "type": "boolean",
                                "label": "Require Password"
                            },
                            {
                                "name": "link_password",
                                "type": "text",
                                "label": "Link's Password"
                            },
                            {
                                "name": "allow_download",
                                "type": "boolean",
                                "label": "Allow Download"
                            },
                            {
                                "name": "requested_visibility",
                                "type": "select",
                                "label": "Requested Visibility (Deprecated)",
                                "validate": {
                                    "enum": [
                                        "public",
                                        "team_only",
                                        "password"
                                    ]
                                }
                            }
                        ],
                        "type": "collection",
                        "label": "Settings"
                    },
                    {
                        "name": "path",
                        "type": "text",
                        "label": "File Path",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "openai-gpt-3:analyzeImages",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 2243919
            },
            "mapper": {
                "model": "gpt-4-vision-preview",
                "top_p": "1",
                "images": [
                    {
                        "imageUrl": "{{4.downloadUrl}}",
                        "imageUploadType": "url"
                    }
                ],
                "prompt": "Please analyse this image and extract all information regarding car repairs.\nThe goal is to fill a database with the corresponding columns: Summary, Date of repair, list of repairs done, price",
                "max_tokens": "1000",
                "temperature": "0.2",
                "n_completions": "1"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 300,
                    "name": "analyzeInvoice"
                },
                "restore": {
                    "expect": {
                        "model": {
                            "mode": "chose",
                            "label": "gpt-4-vision-preview"
                        },
                        "images": {
                            "mode": "chose",
                            "items": [
                                {
                                    "imageUploadType": {
                                        "mode": "chose",
                                        "label": "Image URL"
                                    }
                                }
                            ]
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            },
                            "label": "Private GPT"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "prompt",
                        "type": "text",
                        "label": "Prompt",
                        "required": true
                    },
                    {
                        "name": "images",
                        "spec": [
                            {
                                "name": "imageUploadType",
                                "type": "select",
                                "label": "How would you like to specify an image?",
                                "options": [
                                    {
                                        "label": "Image URL",
                                        "value": "url",
                                        "nested": [
                                            {
                                                "help": "URL address to a public resource of the image. For example, `https://getmyimage.com/myimage.png`.",
                                                "mode": "edit",
                                                "name": "imageUrl",
                                                "type": "url",
                                                "label": "Image URL",
                                                "mappable": {
                                                    "help": "URL address to a public resource of the image. For example, `https://getmyimage.com/myimage.png`."
                                                },
                                                "required": true
                                            }
                                        ],
                                        "default": true
                                    },
                                    {
                                        "label": "Image File",
                                        "value": "imageFile",
                                        "nested": [
                                            {
                                                "help": "Binary data of the image. For example, you can retrieve the binary data of your image using the `HTTP: Get a file` module.",
                                                "name": "imageFileData",
                                                "type": "buffer",
                                                "label": "Image File",
                                                "required": true,
                                                "semantic": "file:data"
                                            }
                                        ]
                                    }
                                ],
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Images",
                        "required": true
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "validate": {
                            "enum": [
                                "gpt-4-vision-preview"
                            ]
                        }
                    },
                    {
                        "name": "max_tokens",
                        "type": "number",
                        "label": "Max Tokens"
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    }
                ],
                "advanced": true
            },
            "onerror": [
                {
                    "id": 10,
                    "module": "builtin:Break",
                    "version": 1,
                    "parameters": {},
                    "mapper": {
                        "count": "3",
                        "retry": true,
                        "interval": "5"
                    },
                    "metadata": {
                        "designer": {
                            "x": 900,
                            "y": 600
                        },
                        "restore": {
                            "expect": {
                                "retry": {
                                    "mode": "chose"
                                }
                            }
                        },
                        "expect": [
                            {
                                "name": "retry",
                                "type": "boolean",
                                "label": "Automatically complete execution",
                                "required": true
                            },
                            {
                                "name": "count",
                                "type": "uinteger",
                                "label": "Number of attempts",
                                "required": true,
                                "validate": {
                                    "max": 10000,
                                    "min": 1
                                }
                            },
                            {
                                "name": "interval",
                                "type": "uinteger",
                                "label": "Interval between attempts",
                                "required": true,
                                "validate": {
                                    "max": 44640,
                                    "min": 1
                                }
                            }
                        ]
                    }
                }
            ]
        },
        {
            "id": 6,
            "module": "openai-gpt-3:transformTextToStructuredData",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 2243919
            },
            "filter": {
                "name": "",
                "conditions": [
                    [
                        {
                            "a": "{{2.usage.completion_tokens}}",
                            "b": "100",
                            "o": "number:greaterorequal"
                        }
                    ]
                ]
            },
            "mapper": {
                "model": "gpt-4-1106-preview",
                "rawText": "{{2.choices[].message.content}}",
                "prompt": "Please analyse this image and extract all information regarding car repairs.\nThe goal is to fill a database with the corresponding columns: Summary, Date of repair, list of repairs done, price",
                "parameters": [
                    {
                        "name": "summary",
                        "description": "A summary of the repairs done",
                        "type": "string",
                        "isRequired": true
                    },
                    {
                        "name": "repairdate",
                        "description": "The date when the car was repaired. Might be the invoice date.",
                        "type": "string",
                        "isRequired": true,
                        "valueExamples": [
                            "01.10.2022",
                            "15.03.2024",
                            "15.11.2024"
                        ]
                    },
                    {
                        "name": "listofrepairs",
                        "description": "A list of the repairs done. This contains parts, working hours and every line item",
                        "type": "arrayString",
                        "isRequired": true
                    },
                    {
                        "name": "price",
                        "description": "price of the repairs done overall.",
                        "type": "number",
                        "isRequired": true
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 150,
                    "name": "formatOutputForDatabase"
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "Private GPT",
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            }
                        }
                    },
                    "expect": {
                        "model": {
                            "mode": "chose",
                            "label": "gpt-4-1106-preview (system)"
                        },
                        "parameters": {
                            "mode": "chose",
                            "items": [
                                {
                                    "type": {
                                        "mode": "chose",
                                        "label": "Text"
                                    },
                                    "isRequired": {
                                        "mode": "chose"
                                    },
                                    "valueExamples": {
                                        "mode": "chose"
                                    }
                                },
                                {
                                    "type": {
                                        "mode": "chose",
                                        "label": "Text"
                                    },
                                    "isRequired": {
                                        "mode": "chose"
                                    },
                                    "valueExamples": {
                                        "mode": "chose",
                                        "items": [
                                            null,
                                            null,
                                            null
                                        ]
                                    }
                                },
                                {
                                    "type": {
                                        "mode": "chose",
                                        "label": "Array (text)"
                                    },
                                    "isRequired": {
                                        "mode": "chose"
                                    }
                                },
                                {
                                    "type": {
                                        "mode": "chose",
                                        "label": "Number"
                                    },
                                    "isRequired": {
                                        "mode": "chose"
                                    },
                                    "valueExamples": {
                                        "mode": "chose"
                                    }
                                }
                            ]
                        },
                        "objectDefinitions": {
                            "mode": "chose"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "rawText",
                        "type": "text",
                        "label": "Text to Parse",
                        "required": true
                    },
                    {
                        "name": "prompt",
                        "type": "text",
                        "label": "Prompt",
                        "required": true
                    },
                    {
                        "name": "parameters",
                        "type": "array",
                        "label": "Structured Data Definition",
                        "required": true,
                        "spec": [
                            {
                                "name": "name",
                                "label": "Parameter Name",
                                "type": "text",
                                "required": true,
                                "validate": {
                                    "pattern": "^[a-zA-Z_$][a-zA-Z_$0-9]*$"
                                }
                            },
                            {
                                "name": "description",
                                "label": "Description",
                                "type": "text",
                                "required": true
                            },
                            {
                                "name": "type",
                                "label": "Data Type",
                                "type": "select",
                                "required": true,
                                "options": [
                                    {
                                        "label": "Text",
                                        "value": "string",
                                        "nested": [
                                            {
                                                "name": "valueExamples",
                                                "label": "Value Examples",
                                                "type": "array",
                                                "spec": {
                                                    "type": "text"
                                                },
                                                "help": "Provide one or more examples of a possible value for this parameter. The more examples you provide the more accurate the output is going to be."
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Number",
                                        "value": "number",
                                        "nested": [
                                            {
                                                "name": "valueExamples",
                                                "label": "Value Examples",
                                                "type": "array",
                                                "spec": {
                                                    "type": "number"
                                                },
                                                "help": "Provide one or more examples of a possible value for this parameter. The more examples you provide the more accurate the output is going to be."
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Boolean",
                                        "value": "boolean"
                                    },
                                    {
                                        "label": "Array (text)",
                                        "value": "arrayString"
                                    },
                                    {
                                        "label": "Array (numbers)",
                                        "value": "arrayNumber"
                                    },
                                    {
                                        "label": "Array (boolean)",
                                        "value": "arrayBoolean"
                                    },
                                    {
                                        "label": "Array (objects)",
                                        "value": "arrayObject",
                                        "nested": [
                                            {
                                                "name": "definitionName",
                                                "label": "Definition Name",
                                                "type": "text",
                                                "help": "Name of the object definition specified in the **Object Definitions** parameter."
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Object",
                                        "value": "object",
                                        "nested": [
                                            {
                                                "name": "properties",
                                                "label": "Properties",
                                                "type": "array",
                                                "spec": [
                                                    {
                                                        "name": "name",
                                                        "label": "Parameter Name",
                                                        "type": "text",
                                                        "required": true,
                                                        "help": "The parameter's name.\n1. The first character must either be alphabet or underscore. It should not start with the digit.\n2. No commas and blanks are allowed.\n3. No special symbols other than underscore are allowed.",
                                                        "validate": {
                                                            "pattern": "^[a-zA-Z_$][a-zA-Z_$0-9]*$"
                                                        }
                                                    },
                                                    {
                                                        "name": "description",
                                                        "label": "Description",
                                                        "type": "text",
                                                        "required": true,
                                                        "help": "Brief description of the parameter. It defines how the model will proceed with this parameter. For example, `Latitude and Longitude of the location.` in case you want to specify that AI should search for coordinates in the provided text."
                                                    },
                                                    {
                                                        "name": "type",
                                                        "label": "Data Type",
                                                        "type": "select",
                                                        "required": true,
                                                        "options": [
                                                            {
                                                                "label": "Text",
                                                                "value": "string",
                                                                "nested": [
                                                                    {
                                                                        "name": "valueExamples",
                                                                        "label": "Value Examples",
                                                                        "type": "array",
                                                                        "spec": {
                                                                            "type": "text"
                                                                        },
                                                                        "help": "Provide one or more examples of a possible value for this parameter. The more examples you provide the more accurate the output is going to be."
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "Number",
                                                                "value": "number",
                                                                "nested": [
                                                                    {
                                                                        "name": "valueExamples",
                                                                        "label": "Value Examples",
                                                                        "type": "array",
                                                                        "spec": {
                                                                            "type": "number"
                                                                        },
                                                                        "help": "Provide one or more examples of a possible value for this parameter. The more examples you provide the more accurate the output is going to be."
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "Boolean",
                                                                "value": "boolean"
                                                            },
                                                            {
                                                                "label": "Array (text)",
                                                                "value": "arrayString"
                                                            },
                                                            {
                                                                "label": "Array (numbers)",
                                                                "value": "arrayNumber"
                                                            },
                                                            {
                                                                "label": "Array (boolean)",
                                                                "value": "arrayBoolean"
                                                            }
                                                        ],
                                                        "help": "An appropriate data type of the parameter. Array should be used when multiple occurences of similar data type may take a place.\nFor example, use Array (text) type for text where coordinates of multiple locations are mentioned and you would like them to be extracted."
                                                    },
                                                    {
                                                        "name": "isRequired",
                                                        "label": "Is Parameter Required?",
                                                        "type": "boolean",
                                                        "required": true,
                                                        "help": "If this is set to `Yes` AI will be forced to generate a value in the output even if there's no such a value detected in the text."
                                                    }
                                                ]
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Object Definition",
                                        "value": "objectDefinition",
                                        "nested": [
                                            {
                                                "name": "definitionName",
                                                "label": "Definition Name",
                                                "type": "text",
                                                "help": "Name of the object definition specified in the **Object Definitions** parameter."
                                            }
                                        ]
                                    }
                                ]
                            },
                            {
                                "name": "isRequired",
                                "label": "Is Parameter Required?",
                                "type": "boolean",
                                "required": true
                            }
                        ]
                    },
                    {
                        "name": "objectDefinitions",
                        "type": "array",
                        "label": "Object Definitions",
                        "spec": {
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Object Name",
                                    "required": true
                                },
                                {
                                    "name": "description",
                                    "type": "text",
                                    "label": "Description",
                                    "required": true
                                },
                                {
                                    "name": "properties",
                                    "spec": [],
                                    "type": "array",
                                    "label": "Properties",
                                    "required": true
                                }
                            ],
                            "type": "collection",
                            "name": "value"
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "summary",
                        "type": "text"
                    },
                    {
                        "name": "repairdate",
                        "type": "text"
                    },
                    {
                        "name": "listofrepairs",
                        "type": "array",
                        "spec": {
                            "type": "text"
                        }
                    },
                    {
                        "name": "price",
                        "type": "number"
                    }
                ]
            },
            "onerror": [
                {
                    "id": 11,
                    "module": "builtin:Break",
                    "version": 1,
                    "parameters": {},
                    "mapper": {
                        "count": "3",
                        "retry": true,
                        "interval": "5"
                    },
                    "metadata": {
                        "designer": {
                            "x": 1200,
                            "y": 300
                        },
                        "restore": {
                            "expect": {
                                "retry": {
                                    "mode": "chose"
                                }
                            }
                        },
                        "expect": [
                            {
                                "name": "retry",
                                "type": "boolean",
                                "label": "Automatically complete execution",
                                "required": true
                            },
                            {
                                "name": "count",
                                "type": "uinteger",
                                "label": "Number of attempts",
                                "required": true,
                                "validate": {
                                    "max": 10000,
                                    "min": 1
                                }
                            },
                            {
                                "name": "interval",
                                "type": "uinteger",
                                "label": "Interval between attempts",
                                "required": true,
                                "validate": {
                                    "max": 44640,
                                    "min": 1
                                }
                            }
                        ]
                    }
                }
            ]
        },
        {
            "id": 5,
            "module": "notion:createAPage",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 2396199
            },
            "mapper": {
                "select": "list",
                "database": "09837cbb-fbd1-428a-b370-6dd8bd6a1939",
                "fields": {
                    "title": "{{6.summary}}",
                    "PPiF": {
                        "start": "{{parseDate(6.repairdate; \"DD.MM.YYYY\")}}",
                        "end": "{{parseDate(6.repairdate; \"DD.MM.YYYY\")}}",
                        "includeTime": false
                    },
                    "kA_i": "{{6.price}}",
                    "tAHs": "{{join(6.listofrepairs; newline)}}",
                    "v%5DTk": "{{1.path_display}}"
                }
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0,
                    "name": "addInvoiceToDatabase"
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Notion Internal connection (PelzMorph's Notion)",
                            "data": {
                                "scoped": "true",
                                "connection": "notion2"
                            }
                        }
                    },
                    "expect": {
                        "select": {
                            "label": "Select from the list"
                        },
                        "database": {
                            "nested": [
                                {
                                    "name": "fields",
                                    "spec": [
                                        {
                                            "name": "title",
                                            "type": "text",
                                            "label": "Summary",
                                            "metadata": {
                                                "type": "title"
                                            },
                                            "required": true
                                        },
                                        {
                                            "name": "PPiF",
                                            "spec": [
                                                {
                                                    "name": "start",
                                                    "type": "date",
                                                    "label": "Start Time"
                                                },
                                                {
                                                    "help": "Optional. Use only when entering a date range.",
                                                    "name": "end",
                                                    "type": "date",
                                                    "label": "End Time"
                                                },
                                                {
                                                    "name": "includeTime",
                                                    "type": "select",
                                                    "label": "Include Time",
                                                    "options": [
                                                        {
                                                            "label": "Yes",
                                                            "value": true
                                                        },
                                                        {
                                                            "label": "No",
                                                            "value": false,
                                                            "default": true
                                                        }
                                                    ]
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Date of repair"
                                        },
                                        {
                                            "name": "kA_i",
                                            "type": "number",
                                            "label": "Price",
                                            "metadata": {
                                                "type": "number"
                                            }
                                        },
                                        {
                                            "name": "tAHs",
                                            "type": "text",
                                            "label": "List of repairs",
                                            "metadata": {
                                                "type": "rich_text"
                                            }
                                        },
                                        {
                                            "name": "v%5DTk",
                                            "type": "text",
                                            "label": "Dropbox Document Link",
                                            "metadata": {
                                                "type": "rich_text"
                                            }
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Fields"
                                }
                            ]
                        },
                        "fields": {
                            "nested": {
                                "PPiF": {
                                    "nested": {
                                        "includeTime": {
                                            "mode": "chose",
                                            "label": "No"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:notion2,notion3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Enter a Database ID",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "list"
                            ]
                        }
                    },
                    {
                        "name": "database",
                        "type": "text",
                        "label": "Database ID",
                        "required": true
                    },
                    {
                        "name": "fields",
                        "type": "collection",
                        "label": "Fields",
                        "spec": [
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Summary",
                                "metadata": {
                                    "type": "title"
                                },
                                "required": true
                            },
                            {
                                "name": "PPiF",
                                "type": "collection",
                                "label": "Date of repair",
                                "spec": [
                                    {
                                        "name": "start",
                                        "type": "date",
                                        "label": "Start Time"
                                    },
                                    {
                                        "name": "end",
                                        "type": "date",
                                        "label": "End Time"
                                    },
                                    {
                                        "name": "includeTime",
                                        "type": "select",
                                        "label": "Include Time",
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    }
                                ]
                            },
                            {
                                "name": "kA_i",
                                "type": "number",
                                "label": "Price",
                                "metadata": {
                                    "type": "number"
                                }
                            },
                            {
                                "name": "tAHs",
                                "type": "text",
                                "label": "List of repairs",
                                "metadata": {
                                    "type": "rich_text"
                                }
                            },
                            {
                                "name": "v%5DTk",
                                "type": "text",
                                "label": "Dropbox Document Link",
                                "metadata": {
                                    "type": "rich_text"
                                }
                            }
                        ]
                    }
                ],
                "interface": [
                    {
                        "name": "object",
                        "type": "text",
                        "label": "Object"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Database Item ID"
                    },
                    {
                        "name": "created_time",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "last_edited_time",
                        "type": "date",
                        "label": "Last Edited Time"
                    },
                    {
                        "name": "created_by",
                        "spec": [
                            {
                                "name": "object",
                                "type": "text",
                                "label": "Object"
                            },
                            {
                                "name": "id",
                                "type": "uuid",
                                "label": "ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Created by"
                    },
                    {
                        "name": "last_edited_by",
                        "spec": [
                            {
                                "name": "object",
                                "type": "text",
                                "label": "Object"
                            },
                            {
                                "name": "id",
                                "type": "uuid",
                                "label": "ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Last Edited by"
                    },
                    {
                        "name": "icon",
                        "spec": [
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "emoji",
                                "type": "text",
                                "label": "Emoji"
                            }
                        ],
                        "type": "collection",
                        "label": "Icon"
                    },
                    {
                        "name": "cover",
                        "spec": [
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "external",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "URL"
                                    }
                                ],
                                "type": "collection",
                                "label": "External"
                            }
                        ],
                        "type": "collection",
                        "label": "Cover"
                    },
                    {
                        "name": "url",
                        "type": "text",
                        "label": "URL"
                    },
                    {
                        "name": "parent",
                        "spec": [
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "workspace",
                                "type": "boolean",
                                "label": "Workspace"
                            },
                            {
                                "name": "page_id",
                                "type": "text",
                                "label": "Page ID"
                            },
                            {
                                "name": "database_id",
                                "type": "text",
                                "label": "Database ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Parent"
                    },
                    {
                        "name": "archived",
                        "type": "boolean",
                        "label": "Archived"
                    },
                    {
                        "name": "properties",
                        "spec": {
                            "spec": [
                                {
                                    "name": "id",
                                    "type": "text",
                                    "label": "ID"
                                },
                                {
                                    "name": "type",
                                    "type": "text",
                                    "label": "Type"
                                },
                                {
                                    "name": "people",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "object",
                                                "type": "text",
                                                "label": "Object"
                                            },
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "avatar_url",
                                                "type": "text",
                                                "label": "Avatar Url"
                                            },
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "person",
                                                "spec": [
                                                    {
                                                        "name": "email",
                                                        "type": "text",
                                                        "label": "Email"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Person"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "People"
                                },
                                {
                                    "name": "url",
                                    "type": "text",
                                    "label": "URL"
                                },
                                {
                                    "name": "text",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "text",
                                                "spec": [
                                                    {
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Content"
                                                    },
                                                    {
                                                        "name": "link",
                                                        "type": "text",
                                                        "label": "Link"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Text"
                                            },
                                            {
                                                "name": "annotations",
                                                "spec": [
                                                    {
                                                        "name": "bold",
                                                        "type": "boolean",
                                                        "label": "Bold"
                                                    },
                                                    {
                                                        "name": "italic",
                                                        "type": "boolean",
                                                        "label": "Italic"
                                                    },
                                                    {
                                                        "name": "strikethrough",
                                                        "type": "boolean",
                                                        "label": "Strikethrough"
                                                    },
                                                    {
                                                        "name": "underline",
                                                        "type": "boolean",
                                                        "label": "Underline"
                                                    },
                                                    {
                                                        "name": "code",
                                                        "type": "boolean",
                                                        "label": "Code"
                                                    },
                                                    {
                                                        "name": "color",
                                                        "type": "text",
                                                        "label": "Color"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Annotations"
                                            },
                                            {
                                                "name": "plain_text",
                                                "type": "text",
                                                "label": "Plain Text"
                                            },
                                            {
                                                "name": "href",
                                                "type": "text",
                                                "label": "Href"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Text"
                                },
                                {
                                    "name": "select",
                                    "spec": [
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "ID"
                                        },
                                        {
                                            "name": "name",
                                            "type": "text",
                                            "label": "Name"
                                        },
                                        {
                                            "name": "color",
                                            "type": "text",
                                            "label": "Color"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Select"
                                },
                                {
                                    "name": "email",
                                    "type": "text",
                                    "label": "Email"
                                },
                                {
                                    "name": "phone_number",
                                    "type": "text",
                                    "label": "Phone Number"
                                },
                                {
                                    "name": "multi_select",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "color",
                                                "type": "text",
                                                "label": "Color"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Multi Select"
                                },
                                {
                                    "name": "date",
                                    "spec": [
                                        {
                                            "name": "start",
                                            "type": "text",
                                            "label": "Start"
                                        },
                                        {
                                            "name": "end",
                                            "type": "text",
                                            "label": "End"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Date"
                                },
                                {
                                    "name": "checkbox",
                                    "type": "boolean",
                                    "label": "Checkbox"
                                },
                                {
                                    "name": "number",
                                    "type": "number",
                                    "label": "Number"
                                },
                                {
                                    "name": "files",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Files"
                                },
                                {
                                    "name": "title",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "text",
                                                "spec": [
                                                    {
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Content"
                                                    },
                                                    {
                                                        "name": "link",
                                                        "type": "text",
                                                        "label": "Link"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Text"
                                            },
                                            {
                                                "name": "annotations",
                                                "spec": [
                                                    {
                                                        "name": "bold",
                                                        "type": "boolean",
                                                        "label": "Bold"
                                                    },
                                                    {
                                                        "name": "italic",
                                                        "type": "boolean",
                                                        "label": "Italic"
                                                    },
                                                    {
                                                        "name": "strikethrough",
                                                        "type": "boolean",
                                                        "label": "Strikethrough"
                                                    },
                                                    {
                                                        "name": "underline",
                                                        "type": "boolean",
                                                        "label": "Underline"
                                                    },
                                                    {
                                                        "name": "code",
                                                        "type": "boolean",
                                                        "label": "Code"
                                                    },
                                                    {
                                                        "name": "color",
                                                        "type": "text",
                                                        "label": "Color"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Annotations"
                                            },
                                            {
                                                "name": "plain_text",
                                                "type": "text",
                                                "label": "Plain Text"
                                            },
                                            {
                                                "name": "href",
                                                "type": "text",
                                                "label": "Href"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Title"
                                },
                                {
                                    "name": "last_edited_time",
                                    "time": true,
                                    "type": "date",
                                    "label": "Last Edited Time"
                                },
                                {
                                    "name": "created_time",
                                    "time": true,
                                    "type": "date",
                                    "label": "Created Time"
                                },
                                {
                                    "name": "last_edited_by",
                                    "spec": [
                                        {
                                            "name": "object",
                                            "type": "text",
                                            "label": "Object"
                                        },
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "ID"
                                        },
                                        {
                                            "name": "name",
                                            "type": "text",
                                            "label": "Name"
                                        },
                                        {
                                            "name": "avatar_url",
                                            "type": "text",
                                            "label": "Avatar Url"
                                        },
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "Type"
                                        },
                                        {
                                            "name": "person",
                                            "spec": [
                                                {
                                                    "name": "email",
                                                    "type": "text",
                                                    "label": "Email"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Person"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Last Edited By"
                                },
                                {
                                    "name": "created_by",
                                    "spec": [
                                        {
                                            "name": "object",
                                            "type": "text",
                                            "label": "Object"
                                        },
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "ID"
                                        },
                                        {
                                            "name": "name",
                                            "type": "text",
                                            "label": "Name"
                                        },
                                        {
                                            "name": "avatar_url",
                                            "type": "text",
                                            "label": "Avatar Url"
                                        },
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "Type"
                                        },
                                        {
                                            "name": "person",
                                            "spec": [
                                                {
                                                    "name": "email",
                                                    "type": "text",
                                                    "label": "Email"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Person"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Created By"
                                },
                                {
                                    "name": "formula",
                                    "spec": [
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "Type"
                                        },
                                        {
                                            "name": "string",
                                            "type": "text",
                                            "label": "String"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Formula"
                                },
                                {
                                    "name": "relation",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Relation"
                                },
                                {
                                    "name": "label",
                                    "type": "text",
                                    "label": "Label"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Properties"
                    },
                    {
                        "name": "properties_value",
                        "label": "Properties Value",
                        "type": "collection",
                        "spec": [
                            {
                                "name": "Date of repair",
                                "label": "Date of repair",
                                "type": "collection",
                                "spec": [
                                    {
                                        "name": "start",
                                        "type": "date",
                                        "label": "Start"
                                    },
                                    {
                                        "name": "end",
                                        "type": "date",
                                        "label": "End"
                                    },
                                    {
                                        "name": "time_zone",
                                        "type": "text",
                                        "label": "Time Zone"
                                    }
                                ]
                            },
                            {
                                "name": "Price",
                                "label": "Price",
                                "type": "number"
                            },
                            {
                                "name": "List of repairs",
                                "label": "List of repairs",
                                "type": "array",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "text",
                                        "label": "Type"
                                    },
                                    {
                                        "name": "text",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "content",
                                                "type": "text",
                                                "label": "Content"
                                            },
                                            {
                                                "name": "link",
                                                "type": "text",
                                                "label": "Link"
                                            }
                                        ],
                                        "label": "Text"
                                    },
                                    {
                                        "name": "annotations",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "bold",
                                                "type": "boolean",
                                                "label": "Bold"
                                            },
                                            {
                                                "name": "italic",
                                                "type": "boolean",
                                                "label": "Italic"
                                            },
                                            {
                                                "name": "strikethrough",
                                                "type": "boolean",
                                                "label": "Strikethrough"
                                            },
                                            {
                                                "name": "underline",
                                                "type": "boolean",
                                                "label": "Underline"
                                            },
                                            {
                                                "name": "code",
                                                "type": "boolean",
                                                "label": "Code"
                                            },
                                            {
                                                "name": "color",
                                                "type": "text",
                                                "label": "Color"
                                            }
                                        ],
                                        "label": "Annotations"
                                    },
                                    {
                                        "name": "plain_text",
                                        "type": "text",
                                        "label": "Plain Text"
                                    },
                                    {
                                        "name": "href",
                                        "type": "text",
                                        "label": "Href"
                                    }
                                ]
                            },
                            {
                                "name": "Dropbox Document Link",
                                "label": "Dropbox Document Link",
                                "type": "array",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "text",
                                        "label": "Type"
                                    },
                                    {
                                        "name": "text",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "content",
                                                "type": "text",
                                                "label": "Content"
                                            },
                                            {
                                                "name": "link",
                                                "type": "text",
                                                "label": "Link"
                                            }
                                        ],
                                        "label": "Text"
                                    },
                                    {
                                        "name": "annotations",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "bold",
                                                "type": "boolean",
                                                "label": "Bold"
                                            },
                                            {
                                                "name": "italic",
                                                "type": "boolean",
                                                "label": "Italic"
                                            },
                                            {
                                                "name": "strikethrough",
                                                "type": "boolean",
                                                "label": "Strikethrough"
                                            },
                                            {
                                                "name": "underline",
                                                "type": "boolean",
                                                "label": "Underline"
                                            },
                                            {
                                                "name": "code",
                                                "type": "boolean",
                                                "label": "Code"
                                            },
                                            {
                                                "name": "color",
                                                "type": "text",
                                                "label": "Color"
                                            }
                                        ],
                                        "label": "Annotations"
                                    },
                                    {
                                        "name": "plain_text",
                                        "type": "text",
                                        "label": "Plain Text"
                                    },
                                    {
                                        "name": "href",
                                        "type": "text",
                                        "label": "Href"
                                    }
                                ]
                            },
                            {
                                "name": "Summary",
                                "label": "Summary",
                                "type": "array",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "text",
                                        "label": "Type"
                                    },
                                    {
                                        "name": "text",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "content",
                                                "type": "text",
                                                "label": "Content"
                                            },
                                            {
                                                "name": "link",
                                                "type": "text",
                                                "label": "Link"
                                            }
                                        ],
                                        "label": "Text"
                                    },
                                    {
                                        "name": "annotations",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "bold",
                                                "type": "boolean",
                                                "label": "Bold"
                                            },
                                            {
                                                "name": "italic",
                                                "type": "boolean",
                                                "label": "Italic"
                                            },
                                            {
                                                "name": "strikethrough",
                                                "type": "boolean",
                                                "label": "Strikethrough"
                                            },
                                            {
                                                "name": "underline",
                                                "type": "boolean",
                                                "label": "Underline"
                                            },
                                            {
                                                "name": "code",
                                                "type": "boolean",
                                                "label": "Code"
                                            },
                                            {
                                                "name": "color",
                                                "type": "text",
                                                "label": "Color"
                                            }
                                        ],
                                        "label": "Annotations"
                                    },
                                    {
                                        "name": "plain_text",
                                        "type": "text",
                                        "label": "Plain Text"
                                    },
                                    {
                                        "name": "href",
                                        "type": "text",
                                        "label": "Href"
                                    }
                                ]
                            }
                        ]
                    }
                ]
            }
        },
        {
            "id": 8,
            "module": "dropbox:makeApiCall",
            "version": 5,
            "parameters": {
                "__IMTCONN__": 686514
            },
            "mapper": {
                "url": "/2/sharing/revoke_shared_link",
                "body": "{\n\"url\": \"{{4.url}}\"\n}",
                "type": "api",
                "method": "POST",
                "headers": [
                    {
                        "key": "Content-Type",
                        "value": "application/json"
                    }
                ],
                "disablePathRoot": false
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 0,
                    "name": "disableSharingLink"
                },
                "restore": {
                    "expect": {
                        "qs": {
                            "mode": "chose"
                        },
                        "type": {
                            "label": "https://api.dropboxapi.com"
                        },
                        "method": {
                            "mode": "chose",
                            "label": "POST"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "dropbox"
                            },
                            "label": "My Dropbox connection (DROPBOX)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:dropbox",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "type",
                        "type": "select",
                        "label": "Dropbox API Endpoint",
                        "required": true,
                        "validate": {
                            "enum": [
                                "api",
                                "content"
                            ]
                        }
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "GET",
                                "POST",
                                "PUT",
                                "PATCH",
                                "DELETE"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String"
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    },
                    {
                        "name": "disablePathRoot",
                        "type": "boolean",
                        "label": "Disable Dropbox API Path Root",
                        "required": true
                    },
                    {
                        "name": "url",
                        "type": "text",
                        "label": "URL",
                        "required": true
                    }
                ],
                "advanced": true
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": true,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com"
    }
}